@{
    ViewBag.Title = "Pracownicy firmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="alert-success">Uprawnienia pracownika @ViewBag.nazwa</h3>
@foreach (var item in Model)
{
    <br />
    <td>@item.UprawnienieNazwa</td>
}

