<h3 class="alert-success">Lista Firm:</h3>
@foreach (var item in Model)
{
    <br />
    @Html.ActionLink((string)item.FirmaNazwa, "_PartPracFirm", "Widok",  new { id = item.FirmaID, nazwa=item.FirmaNazwa},null)
}

