@foreach (var item in Model)
{
    <h4><text>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</text>@item.PracownikNazwa</h4>
    @Html.Action("_PartPracFirmZas", "Widok", new { id = item.PracownikID })
}

 
