<h3 class="alert-success">Lista Zasobów firmy @ViewBag.nazwa:</h3>
@foreach (var item in Model)
{
    <br />
    @Html.ActionLink((string)item.ZasobNazwa, "_PartZasPrac", "Widok", new { id = item.ZasobID, nazwa = item.ZasobNazwa }, null)
}


