
@{
    ViewBag.Title = "Zasoby Firm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <h4>@item.ZasobNazwa</h4>
    @Html.Action("_UprawnieniaZasobuFirmy", "Widok", new { id = item.ZasobID })
}


