@Styles.Render("~/Content/Site.css")
@model IEnumerable<RejestrUprawnien.Models.WidokModel>

@{
    ViewBag.Title = "Widok";
}

@foreach (var item in Model)
{
    <h1>@item.FirmaNazwa</h1>
    <hr />
    @Html.Action("_PartPracFirm", "Widok", new { id = item.FirmaID })
}


@*<input type="button" class="myButton" value="Dodaj nową pozycję" onclick="location.href='@Url.Action("Create", "Pracownik")'" />*@
