@model IEnumerable<RejestrUprawnien.Models.WidokModel>
@{
    ViewBag.Title = "Widok";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3 class="alert-success">Lista Pracowników:</h3>
        @foreach (var item in Model)
        {
            <br />
                <td>@item.PracownikNazwa</td>
        }*@

@*@Html.Partial("Partial1")*@
@Html.Action("_PartFirm", "Widok")
@*@Html.Action("Partial2", "Widok")*@
@*@Html.Action("Partial3", "Widok")*@