@model IEnumerable<RejestrUprawnien.Models.WidokModel>
@{
    ViewBag.Title = "Widok";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    <tr>

        <th>nazwisko</th>
        <th>imie</th>

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PracownikNazwisko</td>
                <td>@item.PracownikImie</td>
            </tr>
        }
        <tr></tr>
    </tbody>


</table>

@*@Html.Partial("Partial1")*@
@Html.Action("Partial1", "Widok")
@Html.Action("Partial2", "Widok")