
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "Zasoby Firm";
}
@foreach (var item in Model)
{
    <h1>@item.FirmaNazwa</h1>
    <hr />
    @Html.Action("_ZasobyFirmy", "Widok", new { id = item.FirmaID })
}