
<h3 class="alert-success">Lista Firm:</h3>
@foreach (var item in Model)
{
    <br />
    @*@Html.ActionLink("Test Link", "SomeAction", "SomeController",
        null, new {id = "someID" })*@

    @Html.ActionLink((string)item.FirmaNazwa, "Wypisz", "Widok",  new { id = item.FirmaID },null)




}

